[submodule "themes/themes/hexo-theme-matery1"]
	path = themes/themes/hexo-theme-matery1
	url = https://github.com/blinkfox/hexo-theme-matery.git
[submodule "themes/hexo-theme-matery1"]
	path = themes/hexo-theme-matery1
	url = https://github.com/blinkfox/hexo-theme-matery.git
