<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="navigation-page" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;<%= __('navigation-page') %>
                </div>
                <%- page.content %>
            </div>
        </div>
        <div class="card">
        </div>
    </div>
</main>
